@model Manager.Web.Models.Account

@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-lg-12">
        <nav class="btn-toolbar text-left titleuser">
            <a href="#" data-toggle="sidebar"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <label>Editar Cliente</label>
        </nav>
    </div>
</div>
<nav class="btn-toolbar text-center well" id="MenuBar"><button class="btn btn-primary btn-color btn-bg-color btn-sm" id="MenuBar__MB_SAVE" onclick="onClickMenuBar('_SAVE');"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button><button class="btn btn-primary btn-color btn-bg-color btn-sm" id="MenuBar__MB_EXIT" onclick="onClickMenuBar('_EXIT');"><span class="glyphicon glyphicon-arrow-left"></span> Salir</button></nav>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
        
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="col-lg-6 form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 form-horizontal">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>

    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
         
            <div class="panel-body">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $("#jqGrid").jqGrid({
            url: '@Url.Action("ListarBandeja","Account")',
            mtype: "POST",
            datatype: "json",
            styleUI: 'Bootstrap',
            colModel: [
                   {
                       label: "Edit Actions",
                       name: "actions",
                       width: 100,
                       formatter: "actions",
                       formatoptions: {
                           keys: true,
                           editOptions: {
                               url: '',
                               mtype: 'GET',
                               onclickSubmit: function (eparam) {

                               }
                           },
                           addOptions: {},
                           delOptions: {}
                       }
                   },
                { label: 'OrderID', name: 'AccountId', key: true, width: 75 },
                { label: 'Customer ID', name: 'FirstName', width: 150 },
                { label: 'Order Date', name: 'LastName', width: 150 },
                { label: 'Freight', name: 'Freight', width: 150 },
                { label: 'Ship Name', name: 'ShipName', width: 150 }
            ],
            page: 1,
            width: 960,
            height: 250,
            rowNum: 25,
            scrollPopUp: true,
            scrollLeftOffset: "83%",
            viewrecords: true,
            rowNum: 20,
            rowList: [10, 20, 30],
            pager: "#jqGridPager"
        });
    });
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
