<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header"><h3>FORECAST</h3></div>
            <ul class="list-unstyled components" id="main-menu">
                <li>
                    <a data-toggle="collapse" aria-expanded="false" href="#gestionamacen0">
                        <span class="glyphicon glyphicon-object-align-right"></span>
                        <span class="title"> Gestion Almacen</span>
                    </a>
                    <ul id="gestionamacen0" class="collapse list-unstyled">
                        <li><a data-toggle="collapse" aria-expanded="false" href="@Url.Action("Index","Account")"><span></span><span class="title"> Account</span></a></li>
                        <li><a data-toggle="collapse" aria-expanded="false" href="#proveedor1" onclick="controllerGetAction('/lg/proveedor/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Proveedor</span></a></li>
                        <li><a data-toggle="collapse" aria-expanded="false" href="#producto2" onclick="controllerGetAction('/lg/producto/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Producto</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" aria-expanded="false" href="#operaciones1"><span class="glyphicon glyphicon-shopping-cart"></span><span class="title"> Operaciones</span></a><ul id="operaciones1" class="collapse list-unstyled"><li><a data-toggle="collapse" aria-expanded="false" href="#pedidos0" onclick="controllerGetAction('/op/pedido/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Pedidos</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#inventario1" onclick="controllerGetAction('/op/inventario/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Inventario</span></a></li></ul></li>
                <li><a data-toggle="collapse" aria-expanded="false" href="#administracion2"><span class="glyphicon glyphicon-cog"></span><span class="title"> Administracion</span></a><ul id="administracion2" class="collapse list-unstyled"><li><a data-toggle="collapse" aria-expanded="false" href="#empresa0" onclick="controllerGetAction('/am/empresa/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Empresa</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#sucursal1" onclick="controllerGetAction('/am/sucursal/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Sucursal</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#personal2" onclick="controllerGetAction('/am/personal/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Personal</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#almacen3" onclick="controllerGetAction('/am/almacen/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Almacen</span></a></li></ul></li>
                <li><a data-toggle="collapse" aria-expanded="false" href="#maestros3"><span class="glyphicon glyphicon-th"></span><span class="title"> Maestros</span></a><ul id="maestros3" class="collapse list-unstyled"><li><a data-toggle="collapse" aria-expanded="false" href="#categoria0" onclick="controllerGetAction('/mg/categoria/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Categoria</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#ubigeo1" onclick="controllerGetAction('/mg/ubigeo/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Ubigeo</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#marca2" onclick="controllerGetAction('/mg/marca/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Marca</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#formaventa3" onclick="controllerGetAction('/mg/formaventa/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Forma Venta</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#moneda4" onclick="controllerGetAction('/mg/moneda/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Moneda</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#tipoprecio5" onclick="controllerGetAction('/mg/tipoprecio/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Tipo Precio</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#tipoproveedor6" onclick="controllerGetAction('/mg/tipoproveedor/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Tipo Proveedor</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#unidadmedida7" onclick="controllerGetAction('/mg/unidadmedida/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Unidad Medida</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#documentoidentidad8" onclick="controllerGetAction('/mg/documento/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Documento Identidad</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#documentocomercial9" onclick="controllerGetAction('/mg/documentocomercial/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Documento Comercial</span></a></li></ul></li>
                <li><a data-toggle="collapse" aria-expanded="false" href="#configuracion4"><span class="glyphicon glyphicon-cog"></span><span class="title"> Configuracion</span></a><ul id="configuracion4" class="collapse list-unstyled"><li><a data-toggle="collapse" aria-expanded="false" href="#parametros0" onclick="controllerGetAction('/cg/parametro/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Parametros</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#tablas1" onclick="controllerGetAction('/cg/tabla/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Tablas</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#usuario2" onclick="controllerGetAction('/cg/usuario/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Usuario</span></a></li><li><a data-toggle="collapse" aria-expanded="false" href="#periodo3" onclick="controllerGetAction('/cg/periodo/bandeja',null,'workspace',true,true,null);"><span></span><span class="title"> Periodo</span></a></li></ul></li>

            </ul>
        </nav>
        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-menu-hamburger"></i>
                            <span></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> PERÍODO - 2018</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-glass"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Configuración</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>Admin</a>
                                <ul id="login-dp" class="dropdown-menu">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="thumbnail">

                                                                <div class="caption text-center">
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                           
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Index","Login")"><span class="glyphicon glyphicon-off"></span> Salir </a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="col-lg-12" id="workspace">
                @RenderBody()
            </div>

        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
